<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paganka Myco Hub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Title Section -->
    <div class="page-title">
        <h1>Paganka Myco Hub</h1>
    </div>

    <!-- Navigation Bar -->
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li class="dropdown">
                    <a href="#">Keys</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('key_to_stalked_gilled_mushrooms') }}">Key to NE Agarics</a></li>
                        <li><a href="">NE Pyrenomycetes Key [Work in Progress]</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#">Generators</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('voucher_generator') }}">Voucher / Label Generator</a></li>
                        <li><a href="{{ url_for('dkey_builder') }}">Dichotomous Key Builder</a></li>
                        <li><a href="{{ url_for('fasta_generator') }}">FASTA Generator</a></li>
                    </ul>
                </li>
                <li><a href="#">NE Purple Russulas [Work in Progress]</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
