{% extends 'base.html' %}

{% block content %}
    <div class="welcome-container">
        <h2>Welcome to <span class="highlight">Paganka Myco Hub</span></h2>
        <p class="intro-text">With so many random scripts and experiments laying around, I thought it time to finally organize everything in one place. 
            I stitched together this website for both myself and anyone else who might find these tools useful. If you notice any issues or want additions please let me know at the <a href='https://github.com/mrozanoff/paganka-myco-hub/tree/main' target="_blank">github repo</a> or email! Open to other project collaboration if you have ideas! I also would like to start working on species descriptions, but am lacking in experience with that right now,
    if anyone is willing to mentor.</p>
        <p class="contact-text">Feel free to reach out to me on <a href="https://www.inaturalist.org/people/paganka" target="_blank">iNaturalist</a> or via email at: emrozanoff[at]gmail.com</p>
        <p class="contact-text">All my links and projects can be found <a href="https://allmylinks.com/mrozanoff" target="_blank">here</a></p>
    

        <style type="text/css" media="screen">
            .inat-widget { font-family: Georgia, serif; padding: 10px; line-height: 1;}
            .inat-widget-header {margin-bottom: 10px;}
            .inat-widget td {vertical-align: top; padding-bottom: 10px;}
            .inat-label { color: #888; }
            .inat-meta { font-size: smaller; margin-top: 3px; line-height: 1.2;}
            .inat-observation-body, .inat-user-body { padding-left: 10px; }
            .inat-observation-image {text-align: center;}
            .inat-observation-image, .inat-user-image { width: 48px; display: inline-block; }
            .inat-observation-image img, .inat-user-image img { max-width: 48px; }
            .inat-observation-image img { vertical-align: middle; }
            .inat-widget-small .inat-observation-image { display:block; float: left; margin: 0 3px 3px 0; height:48px;}
            .inat-label, .inat-value, .inat-user { font-family: "Trebuchet MS", Arial, sans-serif; }
            .inat-user-body {vertical-align: middle;}
            .inat-widget td.inat-user-body {vertical-align: middle;}
            .inat-widget .inat-footer td.inat-value {vertical-align: middle; padding-left: 10px;}
            </style>
            <div class="inat-widget">
              <script type="text/javascript" charset="utf-8" src="https://www.inaturalist.org/observations/paganka.widget?layout=small&limit=5&order=desc&order_by=observed_on"></script>
              <table class="inat-footer">
                <tr class="inat-user">
                    <td class="inat-user-image">
                      <a border="0" href="https://www.inaturalist.org/observations/paganka"><img class="usericon" src="https://static.inaturalist.org/attachments/users/icons/4386798/thumb.jpeg?1634832504" /></a>
                    </td>
                  <td class="inat-value">
                    <strong>
                        <a href="https://www.inaturalist.org/observations/paganka">View paganka's observations »</a>
                    </strong>
                  </td>
                </tr>
              </table>
            </div>
            
        
    </div>
<style>
    .welcome-container {
        text-align: center;
        margin: auto;
        padding: 2em;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 800px;
    }

    h2 {
        font-size: 2.5em;
        margin-bottom: 0.5em;
    }

    .highlight {
        color: #202f16;
        font-weight: bold;
    }

    .intro-text {
        font-size: 1.2em;
        line-height: 1.6;
        margin-bottom: 1.5em;
    }

    .contact-text {
        font-size: 1.1em;
    }

    a {
        color: #2a7ae2;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>


{% endblock %}

